.plus_sign:hover {
    color: darkgrey;
}

.side_bar {
    background-color: #fafafa;
  
}
@media screen and (min-width: 600px) {
    .side_bar {
        height: 100vh;
    }
}
@media (orientation: landscape) {
    .right_tab_bar{
      width: 55%;
    }
    .side_bar {
        width: 60vh;
    }
}
