.left-tab-container .nav.nav-pills .nav-link.active {
    background-color: #eeeeee;
}
/* .right-tab-container
.table-bordered{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
} */
