.plus_sign:hover {
    color: darkgrey;
}

/* .side_bar {
    background-color: #fafafa;
  
} */
.side_bar_font_size{
    font-size: 14px;
    line-height: 17px;
    /* padding: 3px 0 3px 5px; */
    font-weight: 600;
}
.row{
    position: relative;
    width: 100%;
}
.bg-color {
    background-color: #f2f2f2 !important;
}
