:root{
    --boostrap-success:#198754;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-border-radius: 0.375em;
    --bs-btn-bg-danger: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-danger-bg: #bb2d3b;
    --bs-btn-hover-danger-border-color: #b02a37;
}
.border_top_left_radius{
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 10px;
}
.border_bottom{
    border-top: 1px solid red;;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 0;
}
.add_task_plus_sign{
    cursor: pointer;
}
.add_task_plus_sign:hover{
    color:#8e8585;
}
.trash{
    cursor: pointer;

}
.trash:hover{
    color: #8e8585;
}
.textarea{
    /* flex-grow: 4; */
/* width: inherit; */
    margin: 0;
    border:0;
    width: 100%;
}
.textarea:focus{
    outline: none;
}
.textarea::-webkit-resizer {
    /* border-width: 8px; */
    border-style: solid;
    border-color: transparent rgb(14, 13, 13) rgb(14, 13, 13) transparent;
}
.tick_box_heading{
    width: 5%;
}
.status-heading{
    width: 15%;
}
.date-heading{
    width: 15%;
}
.td {

    width: 32%;
    padding: 0px;
}
.trash_heading{
    width: 10%;
}

.customDropdownItem {
    width: 50px;
    border: 1px solid red;
}
.custom-dropdown-menu .dropdown-item-2 {
    width: 200px !important;;
    
}
.dropdown-menu{
    min-width:0 !important;
    padding: 0 !important;
 
}
.dropdown-item-1{
    background-color: var(--boostrap-success) !important;
    color: white !important;
    width: 7.2em !important;
    border-radius: var(--bs-btn-border-radius);
    font-weight: 600 !important;
    
}
.dropdown-item-1:hover{
    background-color: var(--bs-btn-hover-bg);
    border: 1px solid var(--bs-btn-hover-border-color);
    color:white;
}
.dropdown-item-2 {
    background-color: var(--bs-btn-bg-danger) !important;
    color: white !important;
    width: 7.2em !important;
    border-radius: var(--bs-btn-border-radius);
    font-weight: 600 !important;

}
.dropdown-item-2:hover {
    background-color: var(--bs-btn-hover-danger-bg);
    border: 1px solid var(--bs-btn-hover-danger-border-color);
    color: white;
}
.dropdown-toggle {
    width: 7.2em !important;
    font-weight: 600 !important;
}
.project-name-heading{
    font-size: 20px;
}
.all-task-texts{
    font-size: 15px;
}
.task-col{
    cursor: pointer;
}
.task-col:hover{
    background-color: lightblue;
}
